body{
    padding-top: 5%;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
}

ul{
    width: 100%;
    background: #333;
}

.logo{
    display: inline-block;
    width: auto;
}

ul li{
    display: inline-block;
    padding: 2% 3%;
    cursor: pointer;
}

ul li a{
    color: white;
}

.bars{display: none;}
.config, .profile{float: right;}

ul li:hover a{color: black;}
ul li:hover .fa-bars{color:black;}
ul li:hover{background: #ddd;}

.fa-bars{color:white;}

@media(max-width:650px){
    body{
        padding-top: 10%;
    }

    .logo{
        display: inline-block;
    }

    .item, .profile, .config{
        display: none;
    }

    ul li.bars{
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
    }

    .show{
        display:block;
    }
}
