main{
    height: 100vh;
    width: 75%;
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

body#body{
    background-color: white;
}

form{
    width: 24.7%;
    height: 100vh;
    display: inline-block;
    text-align: center;
    padding: 40px;
}

p{
    line-height: 7;
    color: black;
    font-size: 30px;
}

input, button{
    width: 100%;
    padding: 8px;
    border: none;
    margin-top: 5%;
}

button{
    margin-top: 10%;
    color: blue;
    border-radius: 10px;
}

a{
    text-align: right;
}