*{
    padding:0px;
    margin:0px;
  }
  
  #container{
    width:80%;
    background-color:yellow;
    height:300px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:25px;
    border: 3px solid black;
    box-shadow: 10px 10px 80px rgb(0,0,0,0.6);
  }
  
  .seta{
    font-size:30px;
    background-color:white;
    position: absolute;
    top:50%;
    padding: 0px 3px;
    height:300px;
    text-align:center;
    line-height:300px;
    display:none;
  }
  
  .esquerda{
    left:0%;
    transform:translate(-0%,-50%);
    border-radius:25px 0px 0px 25px;
  }
  .direita{
    left:100%;
    transform:translate(-100%,-50%);
    border-radius:0px 25px 25px 0px;
  }
  
  .seta:hover{
    background-color:black;
    color:white;
    display:inline-block;
  }