nav{
    width: 70%;
    background-color: blue;
    margin: auto;
}

div{
    width:40%;
    height:20vh;
    background-color: yellow;
    margin: 30px auto 0px auto;
    display: inline-block;
    text-align: center;
    line-height:9;
    border-radius: 20px 0px 20px 0px;
}

.direita{
    margin: 0px 0px 0px 19%;
}

p{
    text-align: center;
    color: white;
    font-size: 30px;
}